<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
<array>
    <dict>
        <key>CFBundleTypeName</key>
        <string>Document</string>
        <key>LSHandlerRank</key>
        <string>Default</string>
        <key>LSItemContentTypes</key>
        <array>
            <string>public.text</string>
            <string>public.plain-text</string>
            <string>org.idpf.epub-container</string>
        </array>
    </dict>
</array>

<key>UTImportedTypeDeclarations</key>
<array>
    <dict>
        <key>UTTypeIdentifier</key>
        <string>org.idpf.epub-container</string>
        <key>UTTypeDescription</key>
        <string>EPUB Document</string>
        <key>UTTypeConformsTo</key>
        <array>
            <string>public.data</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
            <key>public.filename-extension</key>
            <array>
                <string>epub</string>
            </array>
            <key>public.mime-type</key>
            <array>
                <string>application/epub+zip</string>
            </array>
        </dict>
    </dict>
</array>

<key>NSDocumentsFolderUsageDescription</key>
<string>需要访问文件以进行翻译</string>

<key>LSSupportsOpeningDocumentsInPlace</key>
<true/>

<key>UIFileSharingEnabled</key>
<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
